{% extends 'base.html.twig' %}

{% block title %}Droits index{% endblock %}

{% block body %}
    <h1>Droits index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>DroitsId</th>
                <th>NiveauDroit</th>
                <th>LabelDroit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for droit in droits %}
            <tr>
                <td>{{ droit.droitsId }}</td>
                <td>{{ droit.niveauDroit }}</td>
                <td>{{ droit.labelDroit }}</td>
                <td>
                    <a href="{{ path('droits_show', {'droitsId': droit.droitsId}) }}">show</a>
                    <a href="{{ path('droits_edit', {'droitsId': droit.droitsId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('droits_new') }}">Create new</a>
{% endblock %}
